<!DOCTYPE html>
<html>
<head>

    <title>{{#block "title"}}Online Streaming{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Grenze&display=swap" rel="stylesheet">

<!--    <style>-->
<!--        body{-->
<!--           font-family: 'Grenze', serif;-->
<!--           background-image:url('https://wallpaperaccess.com/full/329583.jpg');-->
<!--           background-repeat:no-repeat;-->
<!--           background-attachment:fixed;-->
<!--           background-size:cover;-->
<!--           color:white;-->
<!--        }-->
<!--        form{-->
<!--           padding:40px;-->
<!--           margin: 0 auto;-->
<!--           width:50%;-->
<!--           border:1px, solid, black;-->
<!--           box-shadow: 30px 30px 20px 50px rgba(0,0,0,0.7);-->
<!--           border-radius:10px;-->
<!--        }-->
<!--        label{-->
<!--           font-size:30px;-->
<!--           color:white;-->
<!--        }-->
<!--        .card-title{-->
<!--           font-size:20px;-->
<!--        }-->
<!--        .row{-->
<!--           padding-top:30px;-->
<!--           border:1px, solid, black;-->
<!--           background-color:rgba(255,255,255,0.3);-->
<!--        }-->


<!--    </style>-->

    <style>
        body{
        font-family: 'Mansalva',cursive;
        background : url('http://www.sompaisoscatalans.cat/simage/56/566450/wallpapers-justice-league.jpg');
         background-repeat:no-repeat;
           background-attachment:fixed;
           background-size:cover;
           color:white;
}

        .home{
          margin:0 auto;
           width:50%;
           background-color:rgba(0,0,0,0.6);
           padding:3%;
           margin-top:15%;
           color:white;
        }
        .home>h1{
           font-size:70px;
        }
        .home>div>a{
           font-size:25px;
           margin-top:10px;
           margin-left:290px;
        }

}
    </style>

</head>

<body>
    <div>
        <div class="container">
            <div>
                {{#block "content"}}
                {{/block}}

            </div>
        </div>
    </div>

{{#block "footer"}}
</body>
</html>
{{/block}}