{{#partial "content"}}

    <h1>List of videos</h1>
    <hr>
    <div class="row">
        {{#each uploads}}

                <div class="col-md-6 ">
                    <div class="card">
                        <div class="card-image">
                            <div class="embed-responsive embed-responsive-16by9" style="margin-top:50px; box-shadow: 5px 10px 10px rgba(0,0,0,0.5);">
                                <iframe width="350" height="315" src={{video}} frameborder="0" style=" border-radius:20px;" allowfullscreen></iframe>
                            </div>


                        </div><!-- card image -->

                        <div class="card-content">
                            <span class="card-title"><h3 style="color:black; font-weight:bolder">{{caption}}</h3></span>

                        </div><!-- card content -->
                        <hr>


                    </div>
                </div>


        {{/each}}
    </div>

{{/partial}}

{{>layout.hbs}}
