
{{#partial "content"}}
    <!--    <section class="landing-pg">-->
    <!--        <div class="land-left">-->
    <!--        </div>-->
    <!--        <div class="land-right">-->
    <!--        </div>-->
    <!--        <div class="hero-img">-->
    <!--        </div>-->
    <!--        <div class="hero-desc">-->

    <section class="home">

        <h1 style="text-align:center;">Welcome to Agaflix</h1>

        <div class="row">

            <div class="col-md-6">

                <div class="button">
                    <a class="btn btn-success" style="font-size:25px;" href="">Admin</a>
                </div>

            </div>

            <div class="col-md-6" >

                <div class="button">
                    <a class="btn btn-success" style="font-size:25px;" href="">User</a>
                </div>

            </div>

        </div>

    </section>

    </div>
    <!--    </section>-->
{{/partial}}
{{> layout.hbs}}